<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.tokeninput.js"></script>

    <script type="text/javascript">
        var userDetails = localStorage.getItem("SC_Session_UserDetails");
        var userInfo;
        $(document).ready(function () {
            if (userDetails) {
                userInfo = $.parseJSON(userDetails);
                $('#loggedinuser').html(userInfo.firstName + " <span class='caret'></span>");
            }

            // if userinfo is null then redirect to login page
            if (typeof userInfo != "undefined") {             

                // get the new notification count and update notification center
                jQuery.support.cors = true;
                var SERVER = "/api/";
                var token = localStorage.getItem("TOKEN") || "UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT";
                $.ajax({
                    url: SERVER + "notifications/GetNewNotifications?userId=" + userInfo.userId,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    success: function (result) {
                        if (!result) {
                            return;
                        }

                        if (result.length > 0) {
                            $("#notification_count").show();
                            $("#notification_count").text(result.length);
                        }
                        else
                            $("#notification_count").hide();

                    },
                    error: function (err) {
                         // send alert to admin team
                      
                }
                });

                // get all the notifications
                $.ajax({
                    url: SERVER + "notifications/GetNotifications?userId=" + userInfo.userId,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    success: function (result) {
                        if (!result) {
                            return;
                        }
                        // remove existing notifications and add new ones
                        $("#notificationsBody").empty();

                        // append notifications
                        jQuery.each(result, function (i, val) {
                            var notificationContent = $.parseJSON(val.notificationContent);
                            // if user hasn't visited this notification then add a different color
                            if (val.hasVisited == false)
                            {
                                // if notification type is 'ask to answer' then execute this
                                if (val.notificationType == 4)
                                {                                   
                                    var notificationContentWithColor = "<div class='well' id='lessbottommargin' onclick=\"MarkItRead("+"'/Feed/Details/" + notificationContent.questionId + "','"+ val.notificationId +"')\"><div class='profileimage' style='float:left;margin-right:8px;margin-left:8px;'><img class='avatar' width='60' height='60' src='/Content/images/profile-image.jpg'></img></div><div id='askedby'><a href='" + window.location.origin + "/Account/Profile?useremail=" + notificationContent.askedBy + "'>" + notificationContent.displayName + "</a> requested you to answer '" + notificationContent.questionTitle + "'</div>";
                                    $("#notificationsBody").append(notificationContentWithColor);
                                    $("#notificationsBody").append("<hr id='nomarginhr'/>");
                                }

                                // if notification type is 'received answer' then execute this
                                else if (val.notificationType == 2) {
                                    var notificationContentWithColor = "<div class='well' id='lessbottommargin' onclick=\"MarkItRead(" + "'/Feed/Details/" + notificationContent.questionId + "','" + val.notificationId + "')\"><div class='profileimage' style='float:left;margin-right:8px;margin-left:8px;'><img class='avatar' width='60' height='60' src='/Content/images/profile-image.jpg'></img></div><div id='askedby'><a href='" + window.location.origin + "/Account/Profile?useremail=" + notificationContent.answeredBy + "'>" + notificationContent.displayName + "</a> wrote an answer to your question '" + notificationContent.questionTitle + "'</div>";
                                    $("#notificationsBody").append(notificationContentWithColor);
                                    $("#notificationsBody").append("<hr id='nomarginhr'/>");
                                }
                                // if notification type is 'received comment' then execute this
                                else if (val.notificationType == 3) {
                                    var notificationContentWithColor = "<div class='well' id='lessbottommargin' onclick=\"MarkItRead(" + "'/Feed/Details/" + notificationContent.questionId + "','" + val.notificationId + "')\"><div class='profileimage' style='float:left;margin-right:8px;margin-left:8px;'><img class='avatar' width='60' height='60' src='/Content/images/profile-image.jpg'></img></div><div id='askedby'><a href='" + window.location.origin + "/Account/Profile?useremail=" + notificationContent.commentedBy + "'>" + notificationContent.displayName + "</a> wrote a comment to your question '" + notificationContent.questionTitle + "'</div>";
                                    $("#notificationsBody").append(notificationContentWithColor);
                                    $("#notificationsBody").append("<hr id='nomarginhr'/>");
                                }
                            }
                            else
                            {
                                // if notification type is 'ask to answer' then execute this
                                if (val.notificationType == 4) {
                                    var notificationContentWithoutColor = "<div class='well whitewell' id='lessbottommargin' onclick=\"MarkItRead(" + "'/Feed/Details/" + notificationContent.questionId + "','" + val.notificationId + "')\"><div class='profileimage' style='float:left;margin-right:8px;margin-left:8px;'><img class='avatar' width='60' height='60' src='/Content/images/profile-image.jpg'></img></div><div id='askedby'><a href='" + window.location.origin + "/Account/Profile?useremail=" + notificationContent.askedBy + "'>" + notificationContent.displayName + "</a> requested you to answer '" + notificationContent.questionTitle + "'</div>";
                                    $("#notificationsBody").append(notificationContentWithoutColor);
                                    $("#notificationsBody").append("<hr id='nomarginhr'/>");
                                }

                                // if notification type is 'received answer' then execute this
                                else if (val.notificationType == 2) {
                                    var notificationContentWithColor = "<div class='well whitewell' id='lessbottommargin' onclick=\"MarkItRead(" + "'/Feed/Details/" + notificationContent.questionId + "','" + val.notificationId + "')\"><div class='profileimage' style='float:left;margin-right:8px;margin-left:8px;'><img class='avatar' width='60' height='60' src='/Content/images/profile-image.jpg'></img></div><div id='askedby'><a href='" + window.location.origin + "/Account/Profile?useremail=" + notificationContent.answeredBy + "'>" + notificationContent.displayName + "</a> wrote an answer to your question '" + notificationContent.questionTitle + "'</div>";
                                    $("#notificationsBody").append(notificationContentWithColor);
                                    $("#notificationsBody").append("<hr id='nomarginhr'/>");
                                }
                                    // if notification type is 'received comment' then execute this
                                else if (val.notificationType == 3) {
                                    var notificationContentWithColor = "<div class='well whitewell' id='lessbottommargin' onclick=\"MarkItRead(" + "'/Feed/Details/" + notificationContent.questionId + "','" + val.notificationId + "')\"><div class='profileimage' style='float:left;margin-right:8px;margin-left:8px;'><img class='avatar' width='60' height='60' src='/Content/images/profile-image.jpg'></img></div><div id='askedby'><a href='" + window.location.origin + "/Account/Profile?useremail=" + notificationContent.commentedBy + "'>" + notificationContent.displayName + "</a> wrote a comment to your question '" + notificationContent.questionTitle + "'</div>";
                                    $("#notificationsBody").append(notificationContentWithColor);
                                    $("#notificationsBody").append("<hr id='nomarginhr'/>");
                                }
                            }                            
                        });

                    },
                    error: function (err) {
                        
                    }
                });


                $("#notificationLink").click(function () {

                    // get current logged-in user details
                    var userInfo = $.parseJSON(userDetails);

                    // get all notifications and update the div
                    $.ajax({
                        url: SERVER + "notifications/GetNotifications?userId=" + userInfo.userId,
                        type: "GET",
                        dataType: "json",
                        contentType: "application/json",
                        headers: {
                            Accept: "application/json",
                            "Content-Type": "application/json",
                        },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Authorization", "Bearer " + token);
                        },
                        success: function (result) {
                            if (!result) {
                                return;
                            }
                            // remove existing notifications and add new ones
                            $("#notificationsBody").empty();
                            // append notifications
                            jQuery.each(result, function (i, val) {
                                $("#notificationsBody").append(val.notificationContent + "<hr/>");
                            });

                        }
                    });

                    // mark all new notification as old
                    var SERVER = "/api/";
                    $.ajax({
                        url: SERVER + "notifications/MarkAllNewNotificationsAsOld?userId=" + userInfo.userId,
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        headers: {
                            Accept: "application/json",
                            "Content-Type": "application/json",
                        },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
                        },
                        success: function (result) {
                            $('#askmeto').text("Already Asked");
                        }
                    });

                    $("#notificationContainer").fadeToggle(300);
                    $("#notification_count").fadeOut("slow");
                    return false;
                });

                //Document Click hiding the popup
                $(document).click(function () {
                    $("#notificationContainer").hide();
                });

                //Popup on click
                $("#notificationContainer").click(function () {
                    //window.location.href = "/Notifications";
                });
            }

        });

        // when user will click on any notification we will mark that as visited and next time the background color will change
        function MarkItRead(url, notificationId)
        {
            var SERVER = "/api/";
            $.ajax({
                url: SERVER + "notifications/MarkNotificationsAsVisited?notificationId=" + notificationId,
                type: "POST",
                dataType: "json",
                contentType: "application/json",                
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
                },
                success: function (result) {
                    alert('done');
                }
            });

            window.location.href = url;
        }
    </script>

    <style type="text/css">
        /*mark visited notification background as white */
        .whitewell {
            background: rgba(255,255,255,0.4);
        }

        #lessbottommargin {
            margin-bottom: 2px;
            cursor: pointer;
        }
        #nomarginhr
        {
            margin-top:0px;
            margin-bottom:0px;
        }

        #notification_li {
            position: relative;
        }

        #notificationContainer {
            background-color: #fff;
            border: 1px solid rgba(100, 100, 100, .4);
            -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
            overflow: visible;
            position: absolute;
            top: 50px;
            margin-left: -176px;
            width: 400px;
            z-index: -1;
            display: none;
            /*Enable this after jquery implementation;*/
        }

            /*Popup Arrow*/
            #notificationContainer:before {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                color: transparent;
                border: 10px solid black;
                border-color: transparent transparent white;
                margin-top: -20px;
                margin-left: 188px;
            }

        #notificationTitle {
            font-weight: bold;
            padding: 8px;
            font-size: 13px;
            background-color: #ffffff;
            position: fixed;
            z-index: 1000;
            width: 384px;
            border-bottom: 1px solid #dddddd;
        }

        #notificationsBody {
            padding: 33px 0px 0px 0px !important;
            min-height: 300px;
            max-height: 350px;
            overflow: auto;
            margin-top: 0px;
        }

        #notificationFooter {
            background-color: #e9eaed;
            text-align: center;
            font-weight: bold;
            padding: 8px;
            font-size: 12px;
            border-top: 1px solid #dddddd;
        }

        #notification_count {
            padding: 3px 7px 3px 7px;
            background: #cc0000;
            color: #ffffff;
            font-weight: bold;
            margin-left: 77px;
            border-radius: 9px;
            -moz-border-radius: 9px;
            -webkit-border-radius: 9px;
            position: absolute;
            font-size: 11px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ShibpurConnect", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @*<li>@Html.ActionLink("Profile", "Profile", "Account")</li>*@

                        <!-- Notification center-->
                        <li id="notification_li">
                            <span id="notification_count" style="display:none;"></span>
                            <a href="#" id="notificationLink"><span class="glyphicon glyphicon-bell"></span>  Notifications</a>

                            <div id="notificationContainer">
                                <div id="notificationTitle">Notifications</div>
                                <div id="notificationsBody" class="notifications"></div>
                                <div id="notificationFooter"><a href="/notifications">See All</a></div>
                            </div>
                        </li>
                    }
                    <li>@Html.ActionLink("Questions", "Index", "Feed")</li>
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="/Feed/StartDiscussion" id="notificationLink"><span class="glyphicon glyphicon-question-sign"></span>  Ask Question</a>
                        </li>
                    }
                </ul>               

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @*<div class="navbar">
        <div class="container">
            <div class="navbar-inner">
                <ul class="nav navbar-nav">
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>
    </div>*@
    <div class="container" style="margin-top:20px;">
        @RenderSection("emailconfirmalert", required: false)
    </div>

    @RenderSection("jambo", required: false)
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - ShibpurConnect</p>
        </footer>
    </div>
    <script src="~/Scripts/shibpurconnect.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
