<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@RenderSection("Scripts", false/*required*/)*@

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/tokeninput")*@

    <script src="~/Scripts/jquery.tokeninput.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var userDetails = sessionStorage.getItem("SC_Session_UserDetails");
            if(userDetails)
            {                
                var userInfo = $.parseJSON(userDetails);
                $('.txtWelcome').text("Welcome " + userInfo.firstName + "!");
            }
        });
    </script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ShibpurConnect", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Profile", "Profile", "Account")</li>
                    }
                    <li>@Html.ActionLink("Questions", "Index", "Feed")</li>
                </ul>
                <div class="col-sm-4 col-md-6">
                    <form class="navbar-form pull-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        @RenderSection("emailconfirmalert", required: false)
    </div>
    @if (User.Identity.IsAuthenticated)
    {       

        <div class="container">
        <div class="col-md-6 col-md-offset-4" id="toolbar" role="toolbar">
            @{
            var routeAction = TempData["SelectedPage"];
            }
            <ul class="nav nav-pills">
                <li id="li_discussion" class="@(routeAction == "Threads" ? "active" : "")"><a href="\Feed\Index"><i class="fa fa-rss"></i>  Discussions</a></li>
                <li class="@(routeAction == "Categories" ? "active" : "")"><a href="\Feed\Categories"><i class="fa fa-tags"></i>  Categories</a></li>
                <li class="@(routeAction == "Users" ? "active" : "")"><a href="\Feed\Users"><i class="fa fa-users"></i>  Users</a></li>
                <li class="@(routeAction == "StartDiscussion" ? "active" : "")"><a href="\Feed\StartDiscussion"><i class="fa fa-question"></i>    Start Discussion</a></li>
            </ul>
        </div>
        </div>

        @Html.Hidden("hdnUserID", User.Identity.Name)
    }

    
    @RenderSection("jambo", required: false)
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - ShibpurConnect</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/shibpurconnect.js"></script>
    
    @RenderSection("scripts", required: false)

</body>
</html>
