@{
    ViewBag.Title = "Complete User Profile";
    Layout = "";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/content/themes/base/jquery")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/shibpurconnect")
@Scripts.Render("~/bundles/select2")
@Scripts.Render("~/bundles/jqueryval")

<style type="text/css">
    /*overridding default bootstrap button style*/
    .btn {
        /*padding: 14px 24px;*/
        border: 0 none;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

        .btn:focus, .btn:active:focus, .btn.active:focus {
            outline: 0 none;
        }

    .btn-primary {
        background: #0099cc;
        color: #ffffff;
    }

        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
            background: #33a6cc;
        }

        .btn-primary:active, .btn-primary.active {
            background: #007299;
            box-shadow: none;
        }

        .btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
            color: #33a6cc;
            border-color: #33a6cc;
        }

        .btn-primary.outline:active, .btn-primary.outline.active {
            border-color: #007299;
            color: #007299;
            box-shadow: none;
        }

    body {
        margin-top: 20px;
    }

    html,
    body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
    }

    /* Wrapper for page content to push down footer */
    #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by its height */
        margin: 0 auto -60px;
        /* Pad bottom by footer height */
        padding: 0 0 60px;
    }

    #footer {
        height: 60px;
        background-color: #f5f5f5;
        margin-top: 10px;
    }

    .container .credit {
        margin: 20px 0;
    }

    #footer > .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    #footer .row {
        margin-top: 15px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        // disable the go to feed page button
        $("#go-to-feed-page").prop("disabled", true);

        var navListItems = $('ul.setup-panel li a'),
            allWells = $('.setup-content');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this).closest('li');

            if (!$item.hasClass('disabled')) {
                navListItems.closest('li').removeClass('active');
                $item.addClass('active');
                allWells.hide();
                $target.show();
            }
        });

        $('ul.setup-panel li.active a').trigger('click');

        $('#activate-step-2').on('click', function (e) {
            $('ul.setup-panel li:eq(1)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-2"]').trigger('click');
            $(this).remove();
        })

        loadEducations();
        loadEmployments();        
    });
</script>

<body>
    <div id="wrap">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("ShibpurHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row form-group">
                <div class="col-xs-12">
                    <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                        <li class="active">
                            <a href="#step-1">
                                <h4 class="list-group-item-heading">Education</h4>
                                <p class="list-group-item-text">Add your educational background</p>
                            </a>
                        </li>
                        <li class="disabled">
                            <a href="#step-2">
                                <h4 class="list-group-item-heading">Employment</h4>
                                <p class="list-group-item-text">Add your employment background</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row setup-content" id="step-1">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        @{ Html.RenderPartial("_EducationalHistory"); }
                        <div id="feed-page-button">
                        <button id="activate-step-2" class="btn btn-primary btn-sm">Add Employment&nbsp;&nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                            <a href="/feed/myfeeds" id="go-to-feed-page" class="btn btn-primary btn-sm disabled" role="button" style="float:right;">Go To Feed Page&nbsp;&nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-2">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        @{ Html.RenderPartial("_EmploymentHistory"); }
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-3">
                <div class="col-xs-12">
                    <div class="col-md-12 well">
                        <h1 class="text-center"> STEP 3</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 sitefooter">
                    <ul class="list-unstyled list-inline pull-left"></ul>
                </div>
                <p class="text-muted pull-right">&copy; @DateTime.Now.Year - ShibpurHub</p>
            </div>
        </div>
    </div>
</body>


