<style type="text/css">
    div.main {
        float: left;
        position: relative;
        padding-left: 10px;
    }

    #threads {
        clear: both;
        float: left;
        margin-bottom: 20px;
    }

    div.thread {
        padding: 12px 0 10px 0;
        border-bottom: 1px solid #e0e0e0;
        padding: 15px 0;
        float: left;
    }

    div.user {
        width: 70px;
        text-align: center;
        height: 70px;
        display: block;
        float: left;
        margin-right: 12px;
    }

    .avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #CCCCCA;
        cursor: pointer;
        -webkit-transition: opacity ease-in-out .25s 0s;
        -moz-transition: opacity ease-in-out .25s 0s;
        -o-transition: opacity ease-in-out .25s 0s;
        transition: opacity ease-in-out .25s 0s;
    }

    div.detail {
        float: left;
    }

    .detail h3 {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: .5em;
        margin-top: 0;
    }

    .tags {
        padding: 0;
        margin-top: 2%;
    }

    .post-tag {
        color: #566e76;
        background: #f7fdff;
        border: 1px solid #c0d4db;
        padding: .4em .5em;
        border-radius: 15px;
        text-align: center;
        font-size: 11px;
        line-height: 1;
        color: #3e6d8e;
        background-color: #e4edf4;
        margin: 2px 2px 2px 0;
        text-decoration: none;
        font-size: 12px;
        white-space: nowrap;
        display: inline-block;
        border-radius: 0;
        border: 1px solid #e4edf4;
    }

    a:visited {
        color: #0c65a5;
    }

    div.stat {
        color: #808080;
    }

        div.stat span {
            display: inline-block;
            width: 100%;
        }

    footer {
        float: left;
        clear: both;
    }
</style>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    function getMonth(month)
    {
        var monthArray = {
            "0": "Jan",
            "1": "Feb",
            "2": "Mar",
            "3": "Apr",
            "4": "May",
            "5": "Jun",
            "6": "Jul",
            "7": "Aug",
            "8": "Sep",
            "9": "Oct",
            "10": "Nov",
            "11": "Dec",
        }

        return monthArray[month];
    }

    $(document).ready(function () {
        jQuery.support.cors = true;
        var SERVER = "/api/";
        var token = localStorage.getItem("TOKEN") || "UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT";

        var url = window.location.href;
        if (url.indexOf("FeedByCategory") > 1) {
            var splitArr = url.split('/');
            var category = splitArr[splitArr.length - 1];
            category = decodeURIComponent(category);
            $.ajax({
                url: SERVER + "questions/GetQuestionsByCategory",
                type: "GET",
                data: {"category": category},
                dataType: "json",
                contentType: "application/json",
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function (result) {
                    if (!result) {
                        return;
                    }

                    var questions = result;
                    createQuestions(questions);
                }
            });
        }
        else {
            $.ajax({
                url: SERVER + "questions/GetQuestions",
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function (result) {
                    if (!result) {
                        return;
                    }

                    var questions = result;
                    createQuestions(questions);
                }
            });
        }
    });

    function createQuestions(questions)
    {
        if(!questions)
        {
            return;
        }

        $(questions).each(function (index, question) {
            var thread = $('div.thread.hide').clone();
            var utcDate = new Date(question.postedOnUtc);
            var dateString = getMonth(utcDate.getMonth().toString()) + " " + utcDate.getDate() + " '" + utcDate.getFullYear().toString().substr(2, 2);

            $(thread).removeClass('hide');
            $(thread).find('div.user span.userName').text(question.displayName);
            $(thread).find('div.user').attr('onclick', "window.location='.././Account/Profile?userEmail=" + question.userEmail + "'");
            $(thread).find('div.detail h3 a').text(question.title).attr('href', '/Feed/Details/' + question.questionId);
            $(thread).find('div.detail .excerpt').text(question.description);
            $(thread).find('div.stat span.date').text(dateString);
            updateAnswerCount(question.questionId, $(thread).find('div.stat span.answercount'));
            //$(thread).find('div.stat span.answercount').text((question.comments || "0") + " answers");

            if (question.categories) {
                $(question.categories).each(function (i, category) {
                    var tagAnchor = $('<a>').addClass('post-tag').text(category).attr('href', "/Feed/FeedByCategory/" + category);
                    $(thread).find('div.tags').append(tagAnchor);
                });
            }

            $('#threads').append(thread);
        });
    }

    function updateAnswerCount(questionId, span)
    {
        if(!questionId || !span)
        {
            return;
        }

        var SERVER = "/api/";
        var token = localStorage.getItem("TOKEN") || "UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT";

        $.ajax({
            url: SERVER + "questions/GetAnswersCount",
            type: "GET",
            data: { "questionId": questionId },
            dataType: "json",
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (result) {

                $(span).text((result || "0") + " answers");
            }

        });
    }
</script>

<div class="container">
    <div class="col-md-6 col-md-offset-4" id="toolbar" role="toolbar">
        @{
            var routeAction = TempData["SelectedPage"];
        }
        <ul class="nav nav-pills">
            <li id="li_discussion" class="@(routeAction == "Threads" ? "active" : "")"><a href="\Feed\Index"><i class="fa fa-rss"></i>  Discussions</a></li>
            <li class="@(routeAction == "Categories" ? "active" : "")"><a href="\Feed\Categories"><i class="fa fa-tags"></i>  Categories</a></li>
            <li class="@(routeAction == "Users" ? "active" : "")"><a href="\Feed\Users"><i class="fa fa-users"></i>  Users</a></li>
            <li class="@(routeAction == "StartDiscussion" ? "active" : "")"><a href="\Feed\StartDiscussion"><i class="fa fa-question"></i>    Start Discussion</a></li>
        </ul>
    </div>
</div>

<div class="main">
    <div id="threads">

        <div class="hide thread col-md-10">
            <div class="user">
                <img class="avatar" width="40" height="40" src="/Content/images/profile-image.jpg">
                <span class="userName"></span>
            </div>
            <div class="detail col-md-10">
                <h3>
                    <a href="#"></a>
                </h3>
                <div class="excerpt">

                </div>
                <div class="tags col-md-10">
                </div>
                <div class="stat col-md-2">
                    <span class="date"></span>
                    <span class="answercount"></span>
                </div>
            </div>
        </div>
    </div>
</div>
