<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/feed/feed.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/feed/feedmobile.css")" />

<script type="text/javascript">
    var questionID = @Html.Raw(Json.Encode(ViewData["questionId"]));
    var answerId = @Html.Raw(Json.Encode(ViewData["answerId"]));
</script>

<script src="@Url.Content("~/Scripts/feed/feed.js")" type="text/javascript"></script>

<div class="main">    
    <div id="threads">        
        <!--div for loading message for the question list-->      
        <div class="hide thread">
            <div class="user col-xs-3">
                <img class="avatar" src="/Content/images/profile-image.jpg">
                <a class="userName twelvepxfont" href="\Account\Profile"></a>
            </div>
            <div class="detail col-xs-9">
                @*<h3>*@
                    <a href="#"></a>
                @*</h3>*@
                <div class="excerpt">

                </div>
                <div class="tags">
                </div>
                <div class="stat">
                    <span class="date"></span>
                    <span>
                        <span class="viewcount"></span>
                        <span class="answercount"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination pagination-sm">           
        </ul>
    </nav>     
</div>

<div id="loadingdiv">
    <i class="fa fa-refresh fa-spin"></i><span> Loading....</span>
</div> 
