<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("SnapResponses", "myfeeds", "feed", new { area = "" }, new { @class = "navbar-brand" })
            }
            else
            {
                @Html.ActionLink("SnapResponses", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "index" && ViewContext.RouteData.Values["controller"].ToString().ToLower() == "notifications")
                {
                <!-- Notification center-->
                    <li id="notification_li" class="active">
                        <span id="notification_count" style="display:none;"></span>
                        <a href="#" id="notificationLink"><span class="glyphicon glyphicon-bell"></span>  Notifications</a>
                        <div id="notificationContainer">
                            <div id="notificationTitle">Notifications</div>
                            <div id="notificationsBody" class="notifications"></div>
                            <div id="notificationFooter"><a href="/notifications">See All</a></div>
                        </div>
                    </li>
                }
                   else
                   {
                    <li id="notification_li">
                        <span id="notification_count" style="display:none;"></span>
                        <a href="#" id="notificationLink"><span class="glyphicon glyphicon-bell"></span>  Notifications</a>
                        <div id="notificationContainer">
                            <div id="notificationTitle">Notifications</div>
                            <div id="notificationsBody" class="notifications"></div>
                            <div id="notificationFooter"><a href="/notifications">See All</a></div>
                        </div>
                    </li>
                   }
                }
                @if (User.Identity.IsAuthenticated)
                {
                    if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "myfeeds" && ViewContext.RouteData.Values["controller"].ToString().ToLower() == "feed")
                    {
                        <li class="active"><a href="/feed/myfeeds">Activity</a></li>
                    }
                    else
                    {
                        <li><a href="/feed/myfeeds">Activity</a></li>
                    }
                }

                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "index" && ViewContext.RouteData.Values["controller"].ToString().ToLower() == "feed")
                {
                    <li class="active">@Html.ActionLink("Discussions", "Index", "feed")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Discussions", "Index", "feed")</li>
                }
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "index" && ViewContext.RouteData.Values["controller"].ToString().ToLower() == "tags")
                {
                    <li class="active">@Html.ActionLink("Tags", "Index", "tags")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Tags", "Index", "tags")</li>
                }                
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "index" && ViewContext.RouteData.Values["controller"].ToString().ToLower() == "users")
                {
                    <li class="active">@Html.ActionLink("Users", "Index", "users")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Users", "Index", "users")</li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "startdiscussion" && ViewContext.RouteData.Values["controller"].ToString().ToLower() == "feed")
                    {
                        <li class="active">
                            <a href="/feed/startdiscussion" id="notificationLink"><span class="glyphicon glyphicon-question-sign"></span>  Ask Question</a>
                        </li>
                    }
                    else
                    {
                        <li><a href="/feed/startdiscussion" id="notificationLink"><span class="glyphicon glyphicon-question-sign"></span>  Ask Question</a></li>
                    }
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>