<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("ShibpurHub", "myfeeds", "feed", new { area = "" }, new { @class = "navbar-brand" })
            }
            else
            {
                @Html.ActionLink("ShibpurHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                <!-- Notification center-->
                    <li id="notification_li">
                        <span id="notification_count" style="display:none;"></span>
                        <a href="#" id="notificationLink"><span class="glyphicon glyphicon-bell"></span>  Notifications</a>
                        <div id="notificationContainer">
                            <div id="notificationTitle">Notifications</div>
                            <div id="notificationsBody" class="notifications"></div>
                            <div id="notificationFooter"><a href="/notifications">See All</a></div>
                        </div>
                    </li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/feed/myfeeds">Activity</a></li>
                }

                <li>@Html.ActionLink("Discussions", "Index", "feed")</li>
                <li>@Html.ActionLink("Tags", "Index", "tags")</li>
                <li>@Html.ActionLink("Career", "Index", "career")</li>
                <li>@Html.ActionLink("Users", "Index", "users")</li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="/feed/startdiscussion" id="notificationLink"><span class="glyphicon glyphicon-question-sign"></span>  Ask Question</a>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>