@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShibpurConnectWebApp.Models.DiscussionThread
@{
    ViewBag.Title = "Feed Details";
}

<style type="text/css">
    /*CSS form tags*/
     .tags {
        margin-top: 2%;
    }
     .post-tag {
        color: #566e76;
        background: #f7fdff;
        border: 1px solid #c0d4db;
        padding: .4em .5em;
        border-radius: 15px;
        text-align: center;
        font-size: 11px;
        line-height: 1;
        color: #3e6d8e;
        background-color: #e4edf4;
        margin: 2px 2px 2px 0;
        text-decoration: none;
        font-size: 12px;
        white-space: nowrap;
        display: inline-block;
        border-radius: 0;
        border: 1px solid #e4edf4;
    }

     /*CSS form the toolbas to create question*/
    #toolbar
    {
        height: 70px;
        margin-top: 40px;
    }
    .block {
        border-top: 1px solid #d3d4cf;
        padding-top: 20px;
        margin-bottom: 29px;
    }
    .column {
        float: left;
        width: calc(85% - 20px);
        margin-right: 20px;
    }
    div.detail
    {
        min-height: 65px;
        
    }
    div.user {
        width: 60px;
        text-align: center;
        height: 60px;
        display: block;
        float: left;
    }

    div.user a.mark-answer
    {   
        margin-top: 6px;
        padding: 3px 6px;
    }

    .avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #CCCCCA;
        cursor: pointer;
        -webkit-transition: opacity ease-in-out .25s 0s;
        -moz-transition: opacity ease-in-out .25s 0s;
        -o-transition: opacity ease-in-out .25s 0s;
        transition: opacity ease-in-out .25s 0s;
    }

    .comment-form textarea {
        /*-webkit-appearance: none;
        line-height: 20px;
        background-color: #f9faf7;
        border: 1px solid #D9DAD6;
        padding: 9px 13px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        resize: none;
        height: 40px;*/
        border-radius: 5px;
    }

    .button, input[type=submit] {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 22px;
        padding-right: 22px;
        height: 40px;
        min-width: 104px;
        border-radius: 5px;
        border: 0;
        font-weight: 700;
        color: #fcfcfa;
        background-color: #7ab21e;
    }
    .comment-form.active form textarea {
        resize: vertical;
        margin-bottom: 11px;
        min-height: 50px;
        height: 150px;
        -webkit-transition: all cubic-bezier(.2,.04,.02,1.49) .35s 0s;
        -moz-transition: all cubic-bezier(.2,.04,.02,1.49) .35s 0s;
        -o-transition: all cubic-bezier(.2,.04,.02,1.49) .35s 0s;
        transition: all cubic-bezier(.2,.04,.02,1.49) .35s 0s;
    }
    .comment-form.active input[type=submit] {
        top: inherit;
        right: 0;
        bottom: 0;
    }
    #answerlist
    {
        list-style-type: none;
    }
    li.answer
    {
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 1px solid #e0e0e0;
    }
    li.answer:nth-last-child(2)
    {
        border:none;
    }
    #answerlist li:last-child {
        padding-bottom: 0;
    }

    li.answer div.stat
    {
        float: right !important;

    }
    div.stat
    {
        color: #808080;
        font-size: 9pt;
    }

    div.stat span
    {
        display: inline-block;
        width: 100%;
    }

    div.answer-links
    {
        margin-left: 60px;
        font-size: 10pt;
    }

    span.link
    {
        margin-right: 20px;
    }

    span.link a{
        color:#999;
    }

    span.link a.upvote-anchor {
        box-sizing: border-box;
        transition: all ease-in-out 100ms;
        border-radius: 3px;
        box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
        display: inline-block;
        font-weight: 500;
        outline: 0;
        padding: 3px 7px 4px 7px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        background: #e4edf4;
        color: #3e6d8e;
        border: 1px solid #bbcadc;
    }

    .upvote-anchor span.count {
        background: 0;
        padding: 0;
        margin: 0;
        margin-left: 6px;
        padding-left: 6px;
        transition: all ease-in-out 100ms;
        position: relative;
        border-radius: 0 3px 3px 0;
        -webkit-font-smoothing: antialiased;
        color: #3e6d8e;
        font-weight: bold;
        min-width: 10px;
        text-align: center;
        display: inline-block;
        float: none;
        border-left: 1px solid #3e6d8e;
    }

    div.answer-comments {
        font-size: 13px;
        margin-left: 75px;
        margin-top: 8px;
        background: #f6f6f6;
        border: 1px solid #e2e2e2;
        border-radius: 2px;
    }
    div.comment-box
    {
        overflow: auto;
        padding: 5px 0;
    }
    a.commentor
    {
        float:left;
    }
    
     /* CSS for Ask to Answer*/
     hr#bigseparator {
        border-top: 3px double white;
        color: #fff;
        background-color: #fff;
        margin: 8px 0 8px 0;
        width:90%;
    } 
    hr#smallseparator {
        border-top: 1px double white;
        color: #fff;
        background-color: #fff;
        margin: 8px 0 8px 0;
        width:90%;
    }
    .wantedanswersuggestion{
        float:left;
        width: 90%;
        margin-bottom: 12px;
    }
    .upvote-span.disabled a.upvote-anchor, .upvote-span.disabled span{
        color: #9D9C9C;
        background-color: #DBD7D7;
    }
    
</style>

<script src="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/components/wysihtml5x/dist/wysihtml5x-toolbar.min.js"></script>
<script src="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/components/handlebars/handlebars.runtime.min.js"></script>
<script src="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.js"></script>

<link rel="stylesheet" type="text/css" href="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/components/components-font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css" />

<script type="text/javascript">
    var questionID = '';
    var askedBy = '';
    $(document).ready(function () {
        jQuery.support.cors = true;
        var SERVER = "/api/";
        var url = window.location.href;
        var splitArr = url.split('/');
        questionID = splitArr[splitArr.length - 1];
        var token = localStorage.getItem("TOKEN") || "UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT";

        $.ajax({
            url: SERVER + "questions/GetQuestion",
            type: "GET",
            dataType: "json",
            data: { "questionId": questionID },
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
                //"Access-Control-Allow-Origin": "*"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
            },
            success: function (result) {
                if (!result) {
                    return;
                }
                //debugger;
                var question = result;

                $('.header h2').text(question.title);
                $('.description').text(question.description);
                askedBy = question.userEmail;
                getAnswers();
                // attach the categories
                $(question.categories).each(function (i, category) {
                    var tagAnchor = $('<a>').addClass('post-tag').text(category).attr('href', "/Feed/FeedByCategory/" + category);
                    $('div.tags').append(tagAnchor);
                });

                // show the suggested user who can answer this question using elastic search
                $.ajax({
                    url: SERVER + "questions/GetSuggestedUserProfiles",
                    type: "GET",
                    data: { "categories": result.categories.toString() },
                    dataType: "json",
                    contentType: "application/json",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    success: function (result) {
                        if (!result) {
                            return;
                        }

                        // uodate the div with the user data received from the API
                        jQuery.each(result, function (i, val) {
                            //$('#userToAnswer').append("<div id=\"userDetails\"><span id=\"userName\">" + val.firstName + " " + val.lastName + "</span><div><hr id='bigseparator' />");
                            $('#userToAnswer').append("<div class='wantedanswersuggestion'><div class='profileimage' style='float:left;'><img class='avatar' width='60' height='60' src='/Content/images/profile-image.jpg'></img></div><div class='userinfo' style='float:left;'><span class='name'><a class='userName' style='margin-left:15px;' href='/Account/Profile?useremail=" + val.userInfo.email + "'>" + val.userInfo.firstName + " " + val.userInfo.lastName + "</a></span></div><a id='askmeto' data-id='" + val.userInfo.userId + "' data-email='" + val.userInfo.email +"' class='btn btn-primary btn-sm' style='float:right;' onclick='SendNotification(this)'>Ask</a></div><hr id='smallseparator'/>")
                        });

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var errorText = XMLHttpRequest.responseText.replace('{"message":"', " ").replace('"}', " ");
                        //$("#errorLabel").text(errorText);
                        $('#failuremessage').css('display', 'block');
                        $('#failuremessage').text(errorText);
                    }
                });
            }
        });

        var objQuestion = new Object();
        objQuestion.id = questionID;
        $.ajax({
            url: SERVER + "questions/IncrementViewCount",
            type: "POST",
            dataType: "json",
            data: JSON.stringify({"QuestionID": questionID}),
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
            },
            success: function (result) {
                
            }
        });

        //getAnswers();

        $('.btn-submit-answer').click(function () {
            saveAnswer();            
        });

        $('textarea').focus(function () {
            var textarea = $(this);
            $('.comment-form').addClass('active');
            var parentDiv = $(textarea).parent();
            $(parentDiv).removeClass("col-md-8").addClass("col-md-12");
            //$(parentDiv).next().addClass("col-md-offset-9");
        });

        // add the rich text answer plugin
        $('.textarea').wysihtml5({
            toolbar: {
                "image": false
            }
        });
    });

    // function to send notification to the specific user
    function SendNotification(elm)
    {
        // retrieve current logged-in user details
        var userDetails = sessionStorage.getItem("SC_Session_UserDetails");
        if (!userDetails) {
            //TO-DO: Handle if userdetail is not available in Session Storage
            return;
        }
        var userInfo = $.parseJSON(userDetails);

        // send email notification
        var emaildata = {
            "Body": "<a href='" + window.location.origin + "/Account/Profile?useremail=" + userInfo.email + "'>" + userInfo.firstName + " " + userInfo.lastName + "</a>" + " requested you to answer this <a href='" + window.location.href +"'>question</a>",
            "EmailAddress": elm.attributes["data-email"].value,
            "Subject": "Can you answer this question?"
        };

        var SERVER = "/api/";
        $.ajax({
            url: SERVER + "emails/sendasync",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(emaildata, null, 2),
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
            },
            success: function (result) {
                //alert("sent email");
            }
        });

        // save this into the Notification collection
        var data = {
            "UserId": elm.attributes["data-id"].value,
            "NotificationContent": "<div><div class='profileimage' style='float:left;margin-right:8px;margin-left:8px;'><img class='avatar' width='60' height='60' src='/Content/images/profile-image.jpg'></img></div><div id='askedby'><a href='" + window.location.origin + "/Account/Profile?useremail=" + userInfo.email + "'>" + userInfo.firstName + " " + userInfo.lastName + "</a> requested you to answer this <a href='" + window.location.href +"'>question</a></div></div>",
            "NotificationType": "AskToAnswer"
        };

        var SERVER = "/api/";
        $.ajax({
            url: SERVER + "notifications/PostNotification",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(data, null, 2),            
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
            },
            success: function (result) {
                $(elm).text("Asked");
            }
        });
        }

     function getMonth(month) {
        var monthArray = {
            "0": "Jan",
            "1": "Feb",
            "2": "Mar",
            "3": "Apr",
            "4": "May",
            "5": "Jun",
            "6": "Jul",
            "7": "Aug",
            "8": "Sep",
            "9": "Oct",
            "10": "Nov",
            "11": "Dec",
        }

        return monthArray[month];
    }

    function saveAnswer() {
        
        jQuery.support.cors = true;
        var userDetails = sessionStorage.getItem("SC_Session_UserDetails");
        if (!userDetails) {
            //TO-DO: Handle if userdetail is not available in Session Storage
            return;
        }
        var answer = $('.textarea')[0].value;
        if (!answer || answer == "")
        {
            return;
        }
        var userInfo = $.parseJSON(userDetails);        

        var SERVER = "/api/";
        var userid = userInfo.userId;

        var token = localStorage.getItem("TOKEN") || "PTLp2jwqIgLZmDBqjtADmHdtHmKpEmy-KtrdrocIBR5dz2k0uHNdgLdeqm6bFODmjUxsgNkcr0LI2UGaT6xve1gxPaHjLAyqneD69pKNIVwpo6mGtiaemzfJFVgV_FS_Q6TzA5InNb16tGCu3VNoYdqQEJu-jLiX3uN3FNAjAUKElpYZbjk5fYZ7ZKZ3T0w7utu0rbNI2BWuxo4HADZ4wrvI1J_-8qnd4Sq1kYWBkdPFeqDO2HQ8Io-IiKSDmnFS";
        var answerObject = { "AnswerText": answer, "QuestionId": questionID, "UserId": userid, "DisplayName": userInfo.firstName, "UserEmail": userInfo.email };
        

        $.ajax({
            url: SERVER + "Answers/PostAnswer",
            type: "POST",
            data: JSON.stringify(answerObject),
            contentType: "application/json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (data, result) {
                if (result) {
                    // we have to replace '$('.textarea')[0].value' with the object coming from this POST call. As we need the anserid, datetime stamp, upvote, downvote count etc
                    //$('#answerdiv p').append($('.textarea')[0].value);

                    var utcDate = new Date(data.postedOnUtc);
                    var dateString = getMonth(utcDate.getMonth().toString()) + " " + utcDate.getDate() + " '" + utcDate.getFullYear().toString().substr(2, 2);


                    var answerBlock = $('#answerlist li.answer.hide').clone();
                    $(answerBlock).removeClass('hide');
                    $(answerBlock).find('.text').html(data.answerText);
                    $(answerBlock).find('.userName').text(data.displayName);
                    $(answerBlock).find('.date').text(dateString);
                    $(answerBlock).find('.upvote-span').addClass('disabled');

                    var userNameAnchor = $(answerBlock).find('div.user a.userName');
                    $(userNameAnchor).text(data.displayName);
                    if (data.userEmail != null) {
                        var url = $(userNameAnchor).attr('href') + '?userEmail=' + data.userEmail;
                        $(userNameAnchor).attr('href', url);
                    }

                    $('#answerlist').prepend(answerBlock);
                    $('.textarea').val('');
                    logActivity(2, data.answerId);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var errorText = XMLHttpRequest.responseText.replace('{"message":"', " ").replace('"}', " ");
                $("#errorLabel").text(errorText);
            }
        });
    }

    function getAnswers()
    {
        var isAskedByMe = false;
        var userDetails = sessionStorage.getItem("SC_Session_UserDetails");
        if (userDetails) {
            var userInfo = $.parseJSON(userDetails);
            isAskedByMe = askedBy == userInfo.email;
        }
        

        jQuery.support.cors = true;
        var SERVER = "/api/";

        $.ajax({
            url: SERVER + "answers/GetAnswers",
            type: "GET",
            dataType: "json",
            data: { "questionId": questionID },
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
            },
            success: function (result) {
                if (!result) {
                    return;
                }
                
                var save = $('#answerlist .answer.hide').detach();
                $('#answerlist').empty().append(save);

                $(result).each(function (index, answer) {
                    var answerBlock = $('#answerlist li.answer.hide').clone();
                    $(answerBlock).removeClass('hide').attr('data-answerid', answer.answerId);
                    $(answerBlock).find('.text').html(answer.answerText);
                    $(answerBlock).find('.upvote-anchor .count').text(answer.upVoteCount);
                    if (answer.upvotedBy && answer.upvotedBy.indexOf(userInfo.email) >=0)
                    {
                        $(answerBlock).find('.upvote-span').addClass('disabled');
                    }
                    //$(answerBlock).find('.userName').text(answer.displayName);

                    var userNameAnchor = $(answerBlock).find('div.user a.userName');
                    $(userNameAnchor).text(answer.displayName);
                    if (answer.userEmail != null) {
                        var url = $(userNameAnchor).attr('href') + '?userEmail=' + answer.userEmail;
                        $(userNameAnchor).attr('href', url);
                    }

                    var utcDate = new Date(answer.postedOnUtc);
                    var dateString = getMonth(utcDate.getMonth().toString()) + " " + utcDate.getDate() + " '" + utcDate.getFullYear().toString().substr(2, 2);
                    $(answerBlock).find('.date').text(dateString);

                    if (answer.markedAsAnswer)
                    {
                        $(answerBlock).find('.mark-answer').removeClass('hide').addClass('btn-success');
                    }

                    $('#answerlist').prepend(answerBlock);
                    if(isAskedByMe)
                    {
                        var markAnswer = $(answerBlock).find('.mark-answer');
                        $(markAnswer).removeClass('hide').click(function () {
                            var span = $(this);
                            if ($(span).hasClass('btn-success'))
                            {
                                return;
                            }

                            var answerId = $(span).closest('li.answer').attr('data-answerid');
                            var answers = [];
                            answers.push({ "AnswerID": answerId, "MarkedAsAnswer": true });
                            $('.mark-answer.btn-success').each(function (i,e) {
                                $(e).removeClass('btn-success');
                                var oldAnswerId = $(e).closest('li.answer').attr('data-answerid');
                                answers.push({ "AnswerID": oldAnswerId, "MarkedAsAnswer": false });
                            });

                            logActivity(5, answerId);
                            $.ajax({
                                url: SERVER + "answers/UpdateMarkAsAnswer",
                                type: "POST",
                                dataType: "json",
                                data: JSON.stringify(answers),
                                contentType: "application/json",
                                headers: {
                                    Accept: "application/json",
                                    "Content-Type": "application/json",
                                },
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
                                },
                                success: function (result) {
                                    $(span).addClass('btn-success');
                                }
                            });
                                                      
                        });
                    }
                    
                });

                $('.comment-anchor').click(function (event) {
                    event.preventDefault();
                    var anchor = $(this);
                    var commentBox = $(anchor).closest('.answer-links').siblings('.answer-comments');
                    $(commentBox).removeClass('hide');
                });

                $('.upvote-anchor').click(function (event) {
                    event.preventDefault();
                    var anchor = $(this);
                    if ($(anchor).parent().hasClass('disabled'))
                    {
                        return false;
                    }
                    var answerId = $(anchor).closest('li.answer').attr('data-answerid');
                    logActivity(3, answerId);
                    $.ajax({
                        url: SERVER + "answers/UpdateUpVoteCount",
                        type: "POST",
                        dataType: "json",
                        data: JSON.stringify({
                            "AnswerID": answerId, "UserEmail": userInfo.email
                        }),
                        contentType: "application/json",
                        headers: {
                            Accept: "application/json",
                            "Content-Type": "application/json",
                        },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
                        },
                        success: function (result) {
                            $(anchor).find('.count').text(result);
                            $(anchor).parent().addClass('disabled');
                        }
                    });
                });
            }
        });
    }
</script>



<div class="container">
    @*@if (User.Identity.IsAuthenticated)
    {

        <div class="container">
            <div class="col-md-6 col-md-offset-4" id="toolbar" role="toolbar">
                @{
        var routeAction = TempData["SelectedPage"];
                }
                <ul class="nav nav-pills">
                    <li id="li_discussion" class="@(routeAction == "Threads" ? "active" : "")"><a href="\Feed\Index"><i class="fa fa-rss"></i>  Discussions</a></li>
                    <li class="@(routeAction == "Categories" ? "active" : "")"><a href="\Feed\Categories"><i class="fa fa-tags"></i>  Categories</a></li>
                    <li class="@(routeAction == "Users" ? "active" : "")"><a href="\Feed\Users"><i class="fa fa-users"></i>  Users</a></li>
                    <li class="@(routeAction == "StartDiscussion" ? "active" : "")"><a href="\Feed\StartDiscussion"><i class="fa fa-question"></i>    Start Discussion</a></li>
                </ul>
            </div>
        </div>

        @Html.Hidden("hdnUserID", User.Identity.Name)
    }*@
    
    <div class="col-md-8">
        <div class="header col-md-12">
            <h2 style="font-size:32px;"></h2><hr />
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div id="details">
                <div class="col-md-10">
                    <div class="description col-md-12">
                    </div>
                    <div class="tags col-md-10">
                    </div>
                    <div class="stat col-md-2">
                        <span class="date"></span>
                        <span class="answercount"></span>
                    </div>
                </div>
            </div>           

            <br/><br/>
            <div id="moduleanswers" class="col-md-12">
                <h4>Answers:</h4>
                <ul id="answerlist">

                    @*<div id="answerdiv">*@
                    <li class="hide answer col-md-12">
                        <div class="user">
                            <img class="avatar" width="40" height="40" src="/Content/images/profile-image.jpg">
                            <a class="userName" href="\Account\Profile"></a>
                            <a class="btn btn-default btn-sm mark-answer hide" title="Mark as answer">
                                <i class="fa fa-check-square-o fa-lg"></i>
                            </a>
                        </div>
                        <div class="detail col-md-10">
                            <div class="text">
                            </div>
                            <div class="stat col-md-3">
                                <span class="date"></span>
                            </div>
                        </div>
                        <div class="answer-links col-md-10">
                            <span class="link upvote-span">
                                <a class="upvote-anchor" href="#">
                                    Upvote
                                    <span class="count">0</span>
                                </a>
                            </span>
                            <span class="link">
                                <a class="downvote-anchor" href="#">Downvote</a>
                            </span>
                            <span class="link comment-span">
                                <a class="comment-anchor" href="#">Comment</a>
                            </span>
                        </div>

                        <div class="answer-comments hide col-md-10">
                            <div class="comment-box">
                                <a class="commentor" href="#">
                                    <img height="25" width="25" src="/Content/images/profile-image.jpg">
                                </a>
                                <div class="col-md-9">
                                    <input class="form-control" id="txt_question" placeholder="Add comment" type="text" required>
                                </div>
                                <div class="col-md-2">
                                    <input type="button" class="btn btn-primary" id="btn_Save" value="Comment">
                                </div>
                            </div>
                        </div>
                    </li>
                    @*</div>*@

                </ul>
            </div>

            <div class="wirte-answer col-md-8" style="margin-top:40px">
                <textarea class="textarea" placeholder="Write your answer" style="width: 100%; height: 150px; font-size: 14px; line-height: 18px; padding: 10px 10px 10px 10px"></textarea>
                <a class="btn btn-primary btn-submit-answer btn-sm" style=" margin-top: 10px;">Submit Answer</a>
            </div>

            <!--div to show Ask to Answer module-->
            <div class="well panel panel-default col-md-12" id="userToAnswer" style="margin-top:30px;">
                <h4>Ask to Answer</h4><hr id="bigseparator" />
            </div>
        </div>
        @*<div class="column block left">
                <section>
                    <react render="commentCollection" context="context" post="post">
                        <section>
                            <aside class="comment-form">
                                <div class="user">
                                    <img class="avatar" width="40" height="40" src="/Content/images/profile-image.jpg">
                                    <span class="userName"></span>
                                </div>
                                <div class="col-md-10">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <textarea id="answerTextArea" class="form-control" required="" placeholder="Write an answer..." maxlength="6000"></textarea>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="submit" value="Answer Question" onclick="saveAnswer();return false;">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </aside>
                        </section>
                    </react>
                </section>
            </div>*@


 
        </div>
    <div class="col-md-4">
        <div class="tagCloud" style="margin-bottom:40px;">
            <h4>Related Questions</h4>
            <div class="list-group">
                <a href="#" class="list-group">
                    <p class="list-group-item-heading">List group item heading</p>                   
                </a>
                <a href="#" class="list-group">
                    <p class="list-group-item-heading">List group item heading</p>
                </a>
                <a href="#" class="list-group">
                    <p class="list-group-item-heading">List group item heading</p>                   
                </a>
                <a href="#" class="list-group">
                    <p class="list-group-item-heading">List group item heading</p>
                </a>
            </div>
        </div>        
        <div class="tagCloud" style="margin-bottom:40px;">
            <h4>Hot Questions</h4>
            <div class="list-group">
                <a href="#" class="list-group">
                    <p class="list-group-item-heading">List group item heading</p>
                </a>
                <a href="#" class="list-group">
                    <p class="list-group-item-heading">List group item heading</p>
                  </a>
                <a href="#" class="list-group">
                    <p class="list-group-item-heading">List group item heading</p>
                </a>
                <a href="#" class="list-group">
                    <p class="list-group-item-heading">List group item heading</p>
                </a>
            </div>
        </div>
        </div>
    </div>

