@model ShibpurConnectWebApp.Models.FeedViewModel
@{
    ViewBag.Title = "Discussions - ShibpurHub";
}

<!--this knockout js will save the token in the session storage and we want to make the call only when user is logged in-->
@if (User.Identity.IsAuthenticated)
{
    @section Scripts{
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/app")
    }
}
<style type="text/css">   
    .moduleheader {
        font-size: 18px;
    }    
</style>

<script type="text/javascript">
    $(document).ready(function()
    {
        // hide the right column modules, we will enable inside respective the partial view once receive the server response
        $('.popularuserscontainerdiv').hide();
        $('.tagcontainermaindiv').hide();
        $('.popularquestioncontainerdiv').hide();
    })
</script>

<div class="container">
    <div class="col-md-9 col-xs-12">
        @Html.Partial("~/Views/PartialViews/_FeedList.cshtml")
    </div>
    <div class="col-md-3 col-xs-12">
        @Html.Partial("~/Views/PartialViews/_PopularTags.cshtml")        
        @Html.Partial("~/Views/PartialViews/_LeaderBoard.cshtml")         
        @Html.Partial("~/Views/PartialViews/_PopularQuestions.cshtml")   
    </div>
</div>
