@model ShibpurConnectWebApp.Models.FeedViewModel
@{
    ViewBag.Title = "Feed";
}

   <div>
       @if (User.Identity.IsAuthenticated)
       {

           <div class="container">
               <div class="col-md-6 col-md-offset-4" id="toolbar" role="toolbar">
                   @{
           var routeAction = TempData["SelectedPage"];
                   }
                   <ul class="nav nav-pills">
                       <li id="li_discussion" class="@(routeAction == "Threads" ? "active" : "")"><a href="\Feed\Index"><i class="fa fa-rss"></i>  Discussions</a></li>
                       <li class="@(routeAction == "Categories" ? "active" : "")"><a href="\Feed\Categories"><i class="fa fa-tags"></i>  Categories</a></li>
                       <li class="@(routeAction == "Users" ? "active" : "")"><a href="\Feed\Users"><i class="fa fa-users"></i>  Users</a></li>
                       <li class="@(routeAction == "StartDiscussion" ? "active" : "")"><a href="\Feed\StartDiscussion"><i class="fa fa-question"></i>    Start Discussion</a></li>
                   </ul>
               </div>
           </div>

           @Html.Hidden("hdnUserID", User.Identity.Name)
       }
       <div class="col-md-9">
           @Html.Partial("~/Views/PartialViews/_FeedList.cshtml")
       </div>
       <div class="col-md-3">
           <div class="tagCloud">
               <h3>Tags</h3><hr/>
           </div>
       </div>
   </div>
    @*<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'pritam83'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>*@